html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    color: #333;
}
body {
    background-image: url(../img/space.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px 50px;
    line-height: 1,5;
}
img {
    max-width: 100%;
}
.button {
    background: blueviolet;
    color: #fff;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    box-shadow: grey;
}
.button:hover {
    background: grey;
    color: white;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}
.navmenu ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr)
}
.navmenu a {
    background: blueviolet;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow:grey;
}
.navmenu a:hover {
    background: grey;
    color: white;
}
.container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "showcase showcase auto"
    "showcase showcase auto";
}
.showcase {
    align-content: center;
    grid-area: showcase;
    min-height: 400px;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px blueviolet;
}
.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px blueviolet
}
.showcase2 {
    align-content: center;
    grid-area: showcase;
    min-height: 300px;
    padding: 2.7rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.showcase2 h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px blueviolet;
}
.showcase2 p {
    font-size: 1.2rem;
    margin-top: 0;
    color: white;
    text-shadow: 2px 2px blueviolet;
    font-weight: 500;
    /* float: left; */
    /* justify-content: start; */
}
.portfolio {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 200px 200px 200px;
    margin-top: 50px;
}
.portfolio img {
    margin-left: 400px;    
    width: 80%;
    box-shadow: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    display: grid;
    grid-template-columns: 300px;
    padding: 1em;
    background: transparent;
    border: 1px solid white;
    margin: 2rem auto 0 auto;
    max-width: 400px;
    padding: 1em;
    color: white;
    text-shadow: 1px 1px blueviolet;
    font-weight: bolder;
}
form input {
    background:transparent;
    border: 1px solid white;
    text-shadow: 2px 2px blueviolet;
    font-weight: bolder;
}
form button {
    background: blueviolet;
    color: white;
    padding: 0.7em;
    width: 100%;
    border: 0;
    font-size: 14px;
}
form button:hover {
    background: grey;
    color: white;
    animation-duration: 1s;
}
input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
    color: white;
}
input:focus {
    outline: 3px solid blueviolet;
}
label {
    padding: 0.5em 0.5em 0.5em 0;
}
textarea {
    color: white;
    background:transparent;
    border: 1px solid white;
    text-shadow: 2px 2px blueviolet;
    font-weight: bolder;
}
textarea:focus {
    outline: 3px solid blueviolet;
}
textarea::placeholder {
    color: white;
}
footer {
position: fixed;
bottom: 0;
height: 2.5rem;
width: auto;
color: white;
text-shadow: 2px 2px blueviolet;
}